.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2731360590,3226816949&fm=26&gp=0.jpg);
  background-size: cover;
}
.login .login-card {
  width: 350px;
  height: 320px;
  position: absolute;
  right: 50%;
  margin-right: -175px;
  top: 20%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.foot {
  text-align: center;
}
